<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuti</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0.5rem;">
    <a class="navbar-brand" href="#">Cuti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:if="${session.jenisKaryawanId == 1}" class="nav-item active">
                <a class="nav-link" th:href="@{/karyawan/index}">Karyawan</a>
            </li>
            <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                <a class="nav-link" th:href="@{/jeniskaryawan/index}">Jenis Karyawan</a>
            </li>
            <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
                <a class="nav-link" th:href="@{/cuti/index}">Cuti</a>
            </li>
            <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item">
                <a class="nav-link" th:href="@{/cutiapproval/index}">Cuti Approval</a>
            </li>
            <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                <a class="nav-link" th:href="@{/jeniscuti/index}">Jenis Cuti</a>
            </li>
            <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
                <a class="nav-link" th:href="@{/status/index}">Status</a>
            </li>



<!--            <div th:if="${session.containsKey('id')}" th:text="${session.id}"></div>-->
        </ul>

        <div class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
                </li>
                <li th:if="${session.id == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="container" style="padding: 0.5rem;">
    <div id="header" class="text-center">
        <h1>Cuti</h1>
        <button type="button" class="btn btn-primary" onclick="FormAdd()" th:if="${session.id != null}">
            Tambah Cuti
        </button>
    </div>

    <div class="modal fade" id="daftarModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="daftarModalTitle">Tambah Jenis Cuti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerCutiForm">
                        <div id="message-res"></div>
                        <div class="form-group">
                            <label class="col-form-label">Durasi Cuti:</label>
                            <div class="input-group input-daterange">
                                <input type="date" class="form-control" id="cuti-tanggalAwal" >
                                <div class="input-group-prepend input-group-append">
                                    <span class="input-group-text">Sampai</span>
                                </div>
                                <input type="date" class="form-control" id="cuti-tanggalAkhir" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cuti-jenisCuti" class="col-form-label">Jenis Cuti:</label>
                            <select class="form-select" id='cuti-jenisCuti'></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SaveCuti(this.value)">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit Jenis Cuti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editCutiForm">
                        
                        <div class="form-group">
                            <label class="col-form-label">Durasi Cuti:</label>
                            <div class="input-group input-daterange">
                                <input type="date" class="form-control" id="cuti-tanggalAwal-edit" >
                                <div class="input-group-prepend input-group-append">
                                    <span class="input-group-text">Sampai</span>
                                </div>
                                <input type="date" class="form-control" id="cuti-tanggalAkhir-edit" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cuti-jenisCuti-edit" class="col-form-label">Jenis Cuti:</label>
                            <select class="form-select" id='cuti-jenisCuti-edit'></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="UpdateCuti(this.value)" id="edit-save-btn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="hapusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hapusModalLabel">Hapus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Yakin ingin menghapus data?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger" id="delete-btn" onclick="DeleteCuti(this.value)">Hapus</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approvalModalLabel">Approval</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="approvalCutiForm">
                        <div class="form-group">
                            <label for="cutiAppr-keterangan" class="col-form-label">Keterangan:</label>
                            <input type="text" class="form-control" id="cutiAppr-keterangan">
                        </div>
                        <div class="form-group">
                            <label for="cutiAppr-status" class="col-form-label">Status:</label>
                            <select class="form-select" id='cutiAppr-status'></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" onclick="ApproveCuti(this.value)" id="appr-save-btn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="content" style="margin-top: 0.5rem;">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th style="width: 1%; white-space: nowrap;">#</th>
                <th>Nama</th>
                <th>Tanggal Awal</th>
                <th>Tanggal Akhir</th>
                <th>Status</th>
                <th style="width: 1%; white-space: nowrap;" colspan="2">Aksi</th>
            </tr>
            </thead>
            <tbody id="table-content">

            </tbody>

        </table>
        <div id="pagebar"></div>
    </div>
</div>

</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function getAllData(currentPage, length){
         $.ajax({
            url: '/api/cuti/?page=' + currentPage + '&size=' + length,
            type: 'get',
            contentType: 'application/json',
            success: function(data){
                //console.log(data.pageable.pageNumber)
                var table = "";
                if(data.content.length > 0) {
                    for (let i=0; i<data.content.length; i++){
                    table += "<tr>";
                    table += "<td>" + (i+1) + "</td>";
                    table += "<td>" + data.content[i].karyawan.nama + "</td>";
                    table += "<td>" + data.content[i].tanggalAwal + "</td>";
                    table += "<td>" + data.content[i].tanggalAkhir + "</td>";
                    table += "<td>" + data.content[i].status.nama + "</td>";
                    table += "<td class='text-center'><button class=' btn btn-primary' value='" + data.content[i].id + "' onclick='formEdit(this.value)'>Edit</button></td>";
                    table += "<td class='text-center'><button class=' btn btn-danger' value='" + data.content[i].id + "' onclick='formDelete(this.value)' >Delete</button></td>";
                    //console.log(data[i].statusId)
                    //if (data[i].statusId == 1) {
                     //   table += "<td class='text-center'><button class=' btn btn-warning' value='" + data[i].id + "' onclick='formApproval(this.value)' >Approval</button></td>";
                    // } else if (data[i].statusId == 2) {
                    //     table += "<td class='text-center'><button class=' btn btn-success' value='" + data[i].id + "' onclick='formApproval(this.value)' >Approved</button></td>";
                    // } else if (data[i].statusId == 3) {
                    //     table += "<td class='text-center'><button class=' btn btn-danger' value='" + data[i].id + "' onclick='formApproval(this.value)' >Rejected</button></td>";
                    // }
                    
                    table += "</tr>";
                    //console.log("wew")
                }
                } else {
                    table = "<tr ><td colspan='6' class='text-center'>No Content Found</td> </tr>";
                    //console.log("null");
                }

                table += "</table>";

                

                $('#table-content').html(table);

                let pagenav = "<br>"
                pagenav += '<nav aria-label="Page navigation">';
                pagenav += '<ul class="pagination">';
                pagenav += '<li class="page-item"><a class="page-link" onclick="getAllData(' + (data.pageable.pageNumber - 1) + ',' + length + ')">Previous</a></li>'
                let index = 1;
                for (let i = 0; i < data.totalPages; i++) {
                    pagenav += '<li class="page-item"><a id="pageslink" class="page-link" onclick="getAllData(' + i + ',' + length + ')">' + index + '</a></li>'
                    index++;
                }
                pagenav += '<li class="page-item"><a class="page-link" onclick="getAllData(' + (data.pageable.pageNumber + 1) + ',' + length + ')">Next</a></li>'
                pagenav += '</ul>'
                pagenav += '</nav>';

                $('#pagebar').empty()
                $('#pagebar').append(pagenav);
                //console.log("yow")
             }
        });
    }

    function FormAdd(){
      $.ajax({
                url:'/api/jeniscuti/',
                type:'get',
                contentType:'application/json',
                success:function(data){
                    $("#cuti-jenisCuti").empty()
                    for (let i = 0; i < data.length; i++) {
                      console.log(data[i].nama)
                      $("#cuti-jenisCuti").append("<option value='" + data[i].id + "' " + ">" + data[i].nama + "</option>")
                    }
                    $('#daftarModal').modal('show');
                }
            })
    }

    function SaveCuti(){
        var formData ='{' ;
            formData +='"tanggalAwal":"' + $('#cuti-tanggalAwal').val() + '",' ;
            formData +='"tanggalAkhir":"' + $('#cuti-tanggalAkhir').val() + '",' ;
            formData +='"jenisCutiId":"' + $('#cuti-jenisCuti').val() + '"' ;
            formData +='}' ;
            //console.log(formData);

            $.ajax({
                url:'/api/cuti/',
                type: 'post' ,
                contentType:'application/json',
                data: formData,
                
                success: function(data){
                    //OpenList(0,5);
                    $.ajax({
                        url:'/api/cuti/max/id',
                        type: 'get' ,
                        contentType:'application/json',
                        success: function(dataMaxid){
                            console.log(dataMaxid)
                            var formDataCutiAppr ='{' ;
                            formDataCutiAppr +='"cutiId":"' + dataMaxid + '",' ;
                            formDataCutiAppr +='"statusId":"1",' ;
                            formDataCutiAppr +='"keterangan":"' + "" + '"' ;
                            formDataCutiAppr +='}' ;

                            $.ajax({
                            url:'/api/cutiapproval',
                            type: 'post' ,
                            data: formDataCutiAppr,
                            contentType:'application/json',
                            success: function(){
                                getAllData(0,5);
                                $('#daftarModal').modal('hide');
                                }
                            });
                        }

                        
                    });

                },
                error: function() {
                    console.log("Sisa cuti kurang")
                    $('#message-res').empty()
                    $('#message-res').append('<p class="text-danger text-center">Sisa Cuti Kurang</p>');
                },
            });
        }

    function formEdit(id){
            $.ajax({
                url:'/api/cuti/' + id,
                type:'get',
                contentType:'application/json',
                success:function(data){
                    $("#cuti-nama-edit").val(data.nama);
                    $("#cuti-tanggalAwal-edit").val(data.tanggalAwal);
                    $("#cuti-tanggalAkhir-edit").val(data.tanggalAkhir);

                    $.ajax({
                        url:'/api/jeniscuti/',
                        type:'get',
                        contentType:'application/json',
                        success:function(dataJenisCuti){
                            //console.log(dataJenisCuti)
                            $("#cuti-jenisCuti-edit").empty()
                            for (let i = 0; i < dataJenisCuti.length; i++) {
                              if (dataJenisCuti[i].id == data.jenisCutiId)
                                {
                                    selected="selected"
                                } else {
                                    selected=""
                                }
                              $("#cuti-jenisCuti-edit").append("<option value='" + dataJenisCuti[i].id + "' " + " >" + dataJenisCuti[i].nama + "</option>")
                            }
                        }
                    })
                    //$("#karyawan-jenis-edit").val(data.jenisKaryawanId);

                    $("#edit-save-btn").val(data.id);
                    $('#editModal').modal('show');
                }
            })
        }

    function UpdateCuti(id){
        var formData ='{' ;
            formData +='"nama":"' + $('#cuti-nama-edit').val() + '",' ;
            formData +='"tanggalAwal":"' + $('#cuti-tanggalAwal-edit').val() + '",' ;
            formData +='"tanggalAkhir":"' + $('#cuti-tanggalAkhir-edit').val() + '",' ;
            formData +='"jenisCutiId":"' + $('#cuti-jenisCuti-edit').val() + '"' ;
            formData +='}' ;

            $.ajax({
                url:'/api/cuti/'+id,
                type: 'put' ,
                contentType:'application/json',
                data: formData,
                success: function(data){
                    //OpenList(0,5);
                    getAllData(0,5);
                    $('#editModal').modal('hide');
                }
            });
        } 

    function formDelete(id) {
        $("#delete-btn").val(id);
        $('#hapusModal').modal('show');
        //DeleteCuti(id);
    }

    function DeleteCuti(id) {
        $.ajax({
            url:'/api/cuti/'+id,
            type: 'delete' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                $.ajax({
                    url:'/api/cutiapproval/'+id,
                    type: 'delete' ,
                    contentType:'application/json',
                    data: {},
                    success: function(DataCutiAppr){
                        //OpenList(0,5);
                        getAllData(0,5);
                        $('#hapusModal').modal('hide');
                    }
                });
            }
        });
    }

    // function formApproval(id){
    //         $.ajax({
    //             url:'/api/cutiapproval/' + id,
    //             type:'get',
    //             contentType:'application/json',
    //             success:function(data){
    //                 $("#cutiAppr-keterangan").val(data.nama);
    //                 $.ajax({
    //                     url:'/api/status/',
    //                     type:'get',
    //                     contentType:'application/json',
    //                     success:function(dataStatus){
    //                         //console.log(dataJenisCuti)
    //                         $('#cutiAppr-status').empty()
    //                         for (let i = 0; i < dataStatus.length; i++) {
    //                           if (dataStatus[i].id == data.statusId)
    //                             {
    //                                 selected="selected"
    //                             } else {
    //                                 selected=""
    //                             }
    //                           $("#cutiAppr-status").append("<option "+selected+" value='" + dataStatus[i].id + "' " + " >" + dataStatus[i].nama + "</option>")
    //                         }
    //                     }
    //                 })
    //                 //$("#karyawan-jenis-edit").val(data.jenisKaryawanId);

    //                 $("#appr-save-btn").val(data.id);
    //                 $('#approvalModal').modal('show');
    //             }
    //         })
    //     }

    // function ApproveCuti(id) {
    //     var formData ='{' ;
    //         formData +='"cutiId":"' + id + '",' ;
    //         formData +='"statusId":"' + $('#cutiAppr-status').val() + '",' ;
    //         formData +='"keterangan":"' + $('#cutiAppr-keterangan').val() + '"' ;
    //         formData +='}' ;
    //         //console.log(formData)
    //     $.ajax({
    //             url:'/api/cutiapproval/' + id,
    //             type:'put',
    //             data: formData,
    //             contentType:'application/json',
    //             success:function(data){
    //                 let  formDataStats ='{' ;
    //                 formDataStats +='"statusId":"' + $('#cutiAppr-status').val() + '"' ;
    //                 formDataStats +='}' ;

    //                 $.ajax({
    //                     url:'/api/cuti/status/'+id,
    //                     type: 'put' ,
    //                     contentType:'application/json',
    //                     data: formDataStats,
    //                     success: function(DataCutiAppr){
    //                         //OpenList(0,5);
                            
    //                         getAllData();
    //                         $('#approvalModal').modal('hide');
    //                         }
    //                     });


    //             }
    //         })
    // }

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }


    //kosongin modal setiap close
    $('#daftarModal').on('hidden.bs.modal', function() {
        $('#registerKaryawanForm input').val('');
    });

    $(document).ready(function(){
        // we call the function
        getAllData(0,5);
    });
</script>
</body>
</html>