<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karyawan</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0.5rem;">
    <a class="navbar-brand" href="#">Cuti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item active">
              <a class="nav-link" th:href="@{/karyawan/index}">Karyawan</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/jeniskaryawan/index}">Jenis Karyawan</a>
          </li>
          <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
              <a class="nav-link" th:href="@{/cuti/index}">Cuti</a>
          </li>
          <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item">
              <a class="nav-link" th:href="@{/cutiapproval/index}">Cuti Approval</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/jeniscuti/index}">Jenis Cuti</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/status/index}">Status</a>
          </li>
      </ul>

      <div class="float-right">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
              </li>
              <li class="nav-item">
                  <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
              </li>
              <li th:if="${session.id == null}" class="nav-item">
                  <a class="nav-link" th:href="@{/login}">Login</a>
              </li>
          </ul>
      </div>
  </div>
  </nav>

    <div id="container" style="padding: 0.5rem;">
        <div id="header" class="text-center">
            <h1>Karyawan</h1>
            <!-- <button class="btn btn-primary" onclick="OpenForm()">Tambah Karyawan</button> -->
            <button type="button" class="btn btn-primary" onclick="FormAdd()">
                Tambah Karyawan
              </button>
        </div>

        <div class="modal fade" id="daftarModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="daftarModalTitle">Daftar Karyawan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="registerKaryawanForm">
                        <div class="form-group">
                          <label for="karyawan-nama" class="col-form-label">Nama:</label>
                          <input type="text" class="form-control" id="karyawan-nama">
                        </div>
                        <div class="form-group">
                          <label for="karyawan-email" class="col-form-label">E-mail:</label>
                          <input type="email" class="form-control" id="karyawan-email">
                        </div>
                        <div class="form-group">
                            <label for="karyawan-password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="karyawan-password" minlength="6">
                          </div>
                          <div class="form-group">
                            <label for="karyawan-jenis" class="col-form-label">Jenis Karyawan:</label>
                            <select class="form-select" id='karyawan-jenis'></select>
                            <!-- <input type="text" class="form-control" id="karyawan-jenis"> -->
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="SaveKaryawan(this.value)">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalTitle">Edit Karyawan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="editKaryawanForm">
                        <div class="form-group">
                          <label for="karyawan-nama-edit" class="col-form-label">Nama:</label>
                          <input type="text" class="form-control" id="karyawan-nama-edit" required="required">
                        </div>
                        <div class="form-group">
                          <label for="karyawan-email-edit" class="col-form-label">E-mail:</label>
                          <input type="email" class="form-control" id="karyawan-email-edit" required="required">
                        </div>
                        <div class="form-group">
                            <label for="karyawan-password-edit" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="karyawan-password-edit" minlength="6" required="required">
                          </div>
                          <div class="form-group">
                            <label for="karyawan-jenis-edit" class="col-form-label">Jenis Karyawan:</label>
                            <select class="form-select" id='karyawan-jenis-edit' required="required"></select>
                            <!-- <input type="text" class="form-control" id="karyawan-jenis-edit"> -->
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="UpdateKaryawan(this.value)" id="edit-save-btn">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="hapusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Yakin ingin menghapus data?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger" id="delete-btn" onclick="DeleteKaryawan(this.value)">Hapus</button>
                  </div>
              </div>
            </div>
          </div>

          

        <div id="content" style="margin-top: 0.5rem;">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 1%; white-space: nowrap;">#</th>
                        <th>Nama</th>
                        <th>E-mail</th>
                        <th>Jenis Karyawan</th>
                        <th style="width: 1%; white-space: nowrap;" colspan="2">Aksi</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    
                </tbody>
                
            </table>
            <div id="pagebar"></div>
        </div>
    </div>    
    
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function getAllData(currentPage, length){
         $.ajax({
            url: '/api/karyawan?page=' + currentPage + '&size=' + length,
            type: 'get',
            contentType: 'application/json',
            success: function(data){
                var table = "";
                if(data.content.length > 0) {
                    for (let i=0; i<data.content.length; i++){
                    table += "<tr>";
                    table += "<td>" + (i+1) + "</td>";
                    table += "<td>" + data.content[i].nama + "</td>";
                    table += "<td>" + data.content[i].email + "</td>";
                    table += "<td>" + data.content[i].jenisKaryawan.nama + "</td>";
                    table += "<td class='text-center'><button class=' btn btn-primary' value='" + data.content[i].id + "' onclick='formEdit(this.value)'>Edit</button></td>";
                    table += "<td class='text-center'><button class=' btn btn-danger' value='" + data.content[i].id + "' onclick='formDelete(this.value)' >Delete</button></td>";
                    table += "</tr>";
                    //console.log("wew")
                }
                } else {
                    table = "<tr ><td colspan='6' class='text-center'>No Content Found</td> </tr>";
                    //console.log("null");
                }
                
                table += "</table>";
                $('#table-content').html(table);

                let pagenav = "<br>"
                pagenav += '<nav aria-label="Page navigation">';
                pagenav += '<ul class="pagination">';
                pagenav += '<li class="page-item"><a class="page-link" onclick="getAllData(' + (data.pageable.pageNumber - 1) + ',' + length + ')">Previous</a></li>'
                let index = 1;
                for (let i = 0; i < data.totalPages; i++) {
                    pagenav += '<li class="page-item"><a id="pageslink" class="page-link" onclick="getAllData(' + i + ',' + length + ')">' + index + '</a></li>'
                    index++;
                }
                pagenav += '<li class="page-item"><a class="page-link" onclick="getAllData(' + (data.pageable.pageNumber + 1) + ',' + length + ')">Next</a></li>'
                pagenav += '</ul>'
                pagenav += '</nav>';

                $('#pagebar').empty()
                $('#pagebar').append(pagenav);
                //console.log("yow")
             }                        
        });
    }

    function FormAdd(){
      $.ajax({
                url:'/api/jeniskaryawan/',
                type:'get',
                contentType:'application/json',
                success:function(data){
                  $('#karyawan-jenis').empty()
                    for (let i = 0; i < data.length; i++) {
                      console.log(data[i].nama)
                      $("#karyawan-jenis").append("<option value='" + data[i].id + "' " + ">" + data[i].nama + "</option>")
                    }
                    $('#daftarModal').modal('show');
                }
            })
    }

    function SaveKaryawan(){
            var formData ='{' ;
                formData +='"nama":"' + $('#karyawan-nama').val() + '",' ;
                formData +='"email":"' + $('#karyawan-email').val() + '",' ;
                formData +='"password":"' + $('#karyawan-password').val() + '",' ;
                formData +='"jenisKaryawanId":"' + $('#karyawan-jenis').val() + '"' ;
                formData +='}' ;
                //console.log(formData);

                $.ajax({
                    url:'/api/karyawan/',
                    type: 'post' ,
                    contentType:'application/json',
                    data: formData,
                    success: function(data){
                        //OpenList(0,5);
                        getAllData(0,5);
                        $('#daftarModal').modal('hide');
                    }
                });
            }

    function formEdit(id){
            $.ajax({
                url:'/api/karyawan/' + id,
                type:'get',
                contentType:'application/json',
                success:function(data){
                    $("#karyawan-nama-edit").val(data.nama);
                    $("#karyawan-email-edit").val(data.email);
                    $("#karyawan-password-edit").val(data.password);

                    $.ajax({
                        url:'/api/jeniskaryawan/',
                        type:'get',
                        contentType:'application/json',
                        success:function(dataJenisKaryawan){
                            //console.log(dataJenisKaryawan)
                            $('#karyawan-jenis-edit').empty()
                            for (let i = 0; i < dataJenisKaryawan.length; i++) {
                              if (dataJenisKaryawan[i].id == data.jenisKaryawanId)
                                {
                                    selected="selected"
                                } else {
                                    selected=""
                                }
                              console.log(dataJenisKaryawan[i].nama)
                              $("#karyawan-jenis-edit").append("<option value='" + dataJenisKaryawan[i].id + "' " + " >" + dataJenisKaryawan[i].nama + "</option>")
                            }
                        }
                    })
                    $("#karyawan-jenis-edit").val(data.jenisKaryawanId);

                    $("#edit-save-btn").val(data.id);
                    $('#editModal').modal('show');
                }
            })
        }

        function UpdateKaryawan(id){
          var formData ='{' ;
                formData +='"nama":"' + $('#karyawan-nama-edit').val() + '",' ;
                formData +='"email":"' + $('#karyawan-email-edit').val() + '",' ;
                formData +='"password":"' + $('#karyawan-password-edit').val() + '",' ;
                formData +='"jenisKaryawanId":"' + $('#karyawan-jenis-edit').val() + '"' ;
                formData +='}' ;

                $.ajax({
                    url:'/api/karyawan/'+id,
                    type: 'put' ,
                    contentType:'application/json',
                    data: formData,
                    success: function(data){
                        //OpenList(0,5);
                        getAllData(0,5);
                        $('#editModal').modal('hide');
                    }
                });
            }    

    function formDelete(id) {
        $("#delete-btn").val(id);
        $('#hapusModal').modal('show');
        //DeleteKaryawan(id);
    }

    function DeleteKaryawan(id) {
        $.ajax({
                    url:'/api/karyawan/'+id,
                    type: 'delete' ,
                    contentType:'application/json',
                    data: {},
                    success: function(data){
                        //OpenList(0,5);
                        getAllData(0,5);
                        $('#hapusModal').modal('hide');
                    }
                });
    }

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }

    //kosongin modal setiap close
    $('#daftarModal').on('hidden.bs.modal', function() {
        $('#registerKaryawanForm input').val('');
    });

    $(document).ready(function(){
        // we call the function
        getAllData(0,5);
    });
</script>
</html>