<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jenis Cuti</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0.5rem;">
    <a class="navbar-brand" href="#">Cuti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item active">
              <a class="nav-link" th:href="@{/karyawan/index}">Karyawan</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/jeniskaryawan/index}">Jenis Karyawan</a>
          </li>
          <li th:if="${session.jenisKaryawanId <= 3}" class="nav-item">
              <a class="nav-link" th:href="@{/cuti/index}">Cuti</a>
          </li>
          <li th:if="${session.jenisKaryawanId <= 2}" class="nav-item">
              <a class="nav-link" th:href="@{/cutiapproval/index}">Cuti Approval</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/jeniscuti/index}">Jenis Cuti</a>
          </li>
          <li th:if="${session.jenisKaryawanId == 1}" class="nav-item">
              <a class="nav-link" th:href="@{/status/index}">Status</a>
          </li>
      </ul>

      <div class="float-right">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" th:if="${session.id != null}" th:text="'Hallo ' + ${session.nama}"></a>
              </li>
              <li class="nav-item">
                  <button class="nav-link" th:if="${session.id != null}" style="background: none; border: none;" onclick="logout()">Logout</button>
              </li>
              <li th:if="${session.id == null}" class="nav-item">
                  <a class="nav-link" th:href="@{/login}">Login</a>
              </li>
          </ul>
      </div>
  </div>
  </nav>

    <div id="container" style="padding: 0.5rem;">
        <div id="header" class="text-center">
            <h1>Jenis Cuti</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#daftarModal">
                Tambah Jenis Cuti
              </button>
        </div>

        <div class="modal fade" id="daftarModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="daftarModalTitle">Tambah Jenis Cuti</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="registerJenisCutiForm">
                        <div class="form-group">
                          <label for="jenisCuti-nama" class="col-form-label">Nama:</label>
                          <input type="text" class="form-control" id="jenisCuti-nama">
                        </div>
                        <div class="form-group">
                          <label for="jenisCuti-keterangan" class="col-form-label">Keterangan:</label>
                          <input type="text" class="form-control" id="jenisCuti-keterangan">
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="SaveJenisCuti(this.value)">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalTitle">Edit Jenis Cuti</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="editJenisCutiForm">
                        <div class="form-group">
                            <label for="jenisCuti-nama-edit" class="col-form-label">Nama:</label>
                            <input type="text" class="form-control" id="jenisCuti-nama-edit">
                          </div>
                          <div class="form-group">
                            <label for="jenisCuti-keterangan-edit" class="col-form-label">Keterangan:</label>
                            <input type="text" class="form-control" id="jenisCuti-keterangan-edit">
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="UpdateJenisCuti(this.value)" id="edit-save-btn">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="hapusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Yakin ingin menghapus data?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger" id="delete-btn" onclick="DeleteJenisCuti(this.value)">Hapus</button>
                  </div>
              </div>
            </div>
          </div>

          <div id="content" style="margin-top: 0.5rem;">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 1%; white-space: nowrap;">#</th>
                        <th>Nama</th>
                        <th>Keterangan</th>
                        <th style="width: 1%; white-space: nowrap;" colspan="2">Aksi</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    
                </tbody>
                
            </table>
        </div>
    </div>    
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function getAllData(){
         $.ajax({
            url: '/api/jeniscuti/',
            type: 'get',
            contentType: 'application/json',
            success: function(data){
                var table = "";
                if(data.length > 0) {
                    for (let i=0; i<data.length; i++){
                    table += "<tr>";
                    table += "<td>" + (i+1) + "</td>";
                    table += "<td>" + data[i].nama + "</td>";
                    table += "<td>" + data[i].keterangan + "</td>";
                    table += "<td class='text-center'><button class=' btn btn-primary' value='" + data[i].id + "' onclick='formEdit(this.value)'>Edit</button></td>";
                    table += "<td class='text-center'><button class=' btn btn-danger' value='" + data[i].id + "' onclick='formDelete(this.value)' >Delete</button></td>";
                    table += "</tr>";
                    //console.log("wew")
                }
                } else {
                    table = "<tr ><td colspan='6' class='text-center'>No Content Found</td> </tr>";
                    //console.log("null");
                }
                
                table += "</table>";
                $('#table-content').html(table);
                //console.log("yow")
             }                        
        });
    }

    function SaveJenisCuti(){
            var formData ='{' ;
                formData +='"nama":"' + $('#jenisCuti-nama').val() + '",' ;
                formData +='"keterangan":"' + $('#jenisCuti-keterangan').val() + '"' ;
                formData +='}' ;
                //console.log(formData);

                $.ajax({
                    url:'/api/jeniscuti/',
                    type: 'post' ,
                    contentType:'application/json',
                    data: formData,
                    success: function(data){
                        //OpenList(0,5);
                        getAllData();
                        $('#daftarModal').modal('hide');
                    }
                });
            }

    function formEdit(id){
            $.ajax({
                url:'/api/jeniscuti/' + id,
                type:'get',
                contentType:'application/json',
                success:function(data){
                    $("#jenisCuti-nama-edit").val(data.nama);
                    $("#jenisCuti-keterangan-edit").val(data.keterangan);
                    $("#edit-save-btn").val(data.id);
                    $('#editModal').modal('show');
                }
            })
        }


        function UpdateJenisCuti(id){
          var formData ='{' ;
                formData +='"nama":"' + $('#jenisCuti-nama-edit').val() + '",' ;
                formData +='"keterangan":"' + $('#jenisCuti-keterangan-edit').val() + '"' ;
                formData +='}' ;

                $.ajax({
                    url:'/api/jeniscuti/'+id,
                    type: 'put' ,
                    contentType:'application/json',
                    data: formData,
                    success: function(data){
                        //OpenList(0,5);
                        getAllData();
                        $('#editModal').modal('hide');
                    }
                });
            }

    function formDelete(id) {
        $("#delete-btn").val(id);
        $('#hapusModal').modal('show');
        //DeleteJenisCuti(id);
    }

    function DeleteJenisCuti(id) {
        $.ajax({
                    url:'/api/jeniscuti/'+id,
                    type: 'delete' ,
                    contentType:'application/json',
                    data: {},
                    success: function(data){
                        //OpenList(0,5);
                        getAllData();
                        $('#hapusModal').modal('hide');
                    }
                });
    }

    $('#daftarModal').on('hidden.bs.modal', function() {
        $('#registerJenisCutiForm input').val('');
    });

    function logout(){
        $.ajax({
            url:'/api/logout',
            type: 'post' ,
            contentType:'application/json',
            data: {},
            success: function(data){
                //OpenList(0,5);

                window.location.href = "/login"
            }
        });
    }

    $(document).ready(function(){
        // we call the function
        getAllData();
    });
</script>
</html>